.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating {
  color: var(--main);
}

.location {
  color: var(--main);
}

.icon {
  width: 16px;
  height: 16px;

  display: block;
}